// Use Grunt to generate this.

//Normalize
@import "normalize";

// Any third party CSS that may be overwritten should go here if required
// E.g, Fancybox.css, bootstrap
//@import "some-jquery-plugin.css"
@import "third-party/responsive-bp"; //Responsive BP: http://responsivebp.com/
@import "mq"; //Media query goodness
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"; //Font awesome is... Well, awesome.
@import "spritesmith"; //Spriting - Add images to /img/raw before using - Usage: @include sprite($icon-logo); (Where icon-logo = your file name)

// VARIABLES, MIXINS AND SPRITING
@import "variables";

//Boilerplate
@import "boilerplate";

//////////////////////////////////////////////////////////////////////////////////////////////////// Base
//// Body
html, body {
    @extend %base;
    font-weight:300;
}
/*.wf-loading body{
	visibility:hidden;

	&.wf-inactive, &.wf-active{
		visibility:visible;
	}
}*/
h1,h2,h3,h4,h5{ font-family: $heading-font; line-height:1.2em; font-weight:300; }
h2{ font-size:26px; font-family:$base-font; }
h3{ font-size:36px; }
h4{ font-size:24px; font-family:$base-font; margin:10px 0; }
a{ color:$default-link-color; text-decoration:underline; }
a:hover{ color:$hover-link-color; text-decoration:none; }
ul{ padding:0px; margin:0px; list-style-type:none; }
.unbutton{ background:transparent; padding:0; margin:0; border:0; }
.btn{
    padding:16px 36px;
    text-align:center;
    display:inline-block;
    text-decoration:none;
	border:2px solid $white;
	line-height:22px;
	text-shadow:none;
	margin:0 9px 20px;
	border-radius:5px;
	line-height:26px;

	&.btn-half{
		width:48%;
		padding:10px 12px;
	}
	&.btn-align-left{
		float:left;
	}
	&.btn-align-right{
		float:right;
	}
}
a.btn-primary, button.btn-primary, input.btn-primary, .btn-primary a, div.btn-primary{
	@extend .btn;
	border:1px solid $water;
	background:$water;
    color:$white !important;

	&:hover{
		background:$deepwater;
		border-color:$deepwater;
	}
}
a.btn-secondary, button.btn-secondary, input.btn-secondary, .btn-secondary a, div.btn-secondary{
	@extend .btn;

	&:hover{
		background:$white;
		color:$fire;
	}
}
hr{ max-width:100px; margin:1em auto; border-top:2px solid $fire; }

//////////////////////////////////////////////////////////////////////////////////////////////////// Styling

.container{
	width:100%;
	max-width:100%; //Override of responsiveBP
	
	.wrapper{
		width:$content-width;
		max-width:$max-content-width;
		margin:auto;
	}
}

.intro-container{
	background:linear-gradient(-90deg, $fire 0%, $spark 100%);
}
.intro{
	text-align:center;
	padding:50px 0;

	@include mq($from: M){
		padding:150px 0;
	}
}

.barcamp-southampton-logo{
	@include no-text;
	//@include retina-sprite($logo-group);
	background:url('/img/barcamp-logo.svg') 0 0 no-repeat transparent;
	width:373px;
	height:249px;
	background-size:100%;
	max-width:100%;
	margin:auto;
}

.what-when-where-container{
	padding:40px 0;
	background:$white;
	color:$flint;

	h3{ color:$fire; }
	.btn-secondary{
		color:$water;
		border-color:$water;
		background:$white;

		&:hover{
			background:$water;
			color:$white;
		}
	}

	@include mq($from: L){
		padding:100px 0;
	}
}
.what-when-where{
	@include clear;
}
.what-when-where-segment{
	text-align:center;
	margin-bottom:120px;
	padding:1px 30px;
	position:relative;

	@include mq($from: L){
		display:inline-block;
		width:33.33%;
		vertical-align:top;
		margin:0;
	}

	.btn-container{
		position:absolute;
		top:100%; left:50%; transform:translateX(-50%);
		width:75%;
		margin-bottom:0;
		z-index:2;

		.btn-secondary, .btn-primary{ width:100%; }
		.trigger-calendar{
			position:absolute;
			top:0;
			left:0;
			z-index:9999999; //Yes, this is necessary.
			cursor:pointer;
		}
	}
}
.addthisevent-drop{
	height:62px !important;
	width:100% !important;
	margin:0 9px !important;
}
.addthisevent_dropdown{ width:100% !important; border:2px solid $water !important; margin:0 !important; }
.what-when-where-icon{
	margin:auto;
	position:relative;
}


.about-container{
	padding:40px 0;
	background:$elephant;
	color:$flint;

	h3{ color:$fire; }
	a{ color:$fire; }
}
.about{
	//padding:0 80px;
}
.about-intro, .about-title, .about-outro{ text-align:center; }
.about-step{ @include clear; margin-bottom:40px; text-align:center; @include mq($from: L){ text-align:left; } }
.about-step-number{
	border-radius:200px;
	width:100px;
	height:100px;
	border:2px solid $water;
	color:$water;
	text-align:center;
	line-height:102px;
	font-size:48px;
	margin:auto;

	@include mq($from: L){
		float:left;
		margin:18px 40px 0 0;
	}
}
.about-step-text{
	p{ margin:0; }

	@include mq($from: L){
		width:80%;
		float:left;
	}
}

.social-container{
	background:linear-gradient(-90deg, $fire 0%, $spark 100%);
}
.social{
	padding:50px 0 30px;
	text-align:center;
}
.social-link{ display:inline-block; margin:0 10px 20px; }

.supporters-container{
	padding:40px 0;
	background:$white;
	color:$flint;
	text-align:center;
}
.supporter{
	margin-bottom:20px;
	display:inline-block;
	width:50%;
	padding:0 20px;
	a{ display:block; }

	@include mq($from: L){
		display:inline-block;
		width:20%;
		padding:0 20px;
		margin:0;
	}
}

//// Content - Stuff the users can WYSIWYG
.content{
	@import "shared";
}


.footer-container{
	background:$elephant;
	padding:10px 0;
	font-size:12px;
	color:$flint;
	border-top:2px solid $water;

	a{ color:$fire; }
}
//// Footer
footer, .footer{

}
.footer-segment{ display:block; @include mq($from: L){ display:inline-block; }}

//@import "responsive-tables"; //Uncomment to use responsive relayouting tables

@import "print";



